{% extends 'base.html.twig' %}

{% block title %}
  {{ "New User"|trans }}
{% endblock %}

{% block content %}
  {% set new = true %}

  {{ include('admin/Community/user/_form.html.twig') }}

  <a  class="btn btn-primary btn-lg" href="{{ path('user_index') }}">{{ "Back to list"|trans }}</a>
{% endblock %}
