<form method="post" action="{{ path('sub_item_delete', {'id': subItem.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subItem.id) }}">
    <button class="btn btn-outline-danger btn-sm p-1 mt-0">{{ "Delete"|trans }}</button>
</form>
