{% extends 'base.html.twig' %}

{% block body %}{{ parent() }}

  <!--Main layout-->
  <main>
    {% block content %}{{ parent() }}

      <div class="container-fluid">

        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>
        <h1>Scroll down</h1>
        <br>

      </div>

    {% endblock %}
  </main>
  <!--Main layout-->

{% endblock %}
